<form (ngSubmit)="onSubmit()" #searchForm="ngForm" class="form-container">
  <mat-form-field appearance="fill">
    <mat-label>URL to Search For</mat-label>
    <input matInput [(ngModel)]="searchParams.url" name="url" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Search Term</mat-label>
    <input
      matInput
      [(ngModel)]="searchParams.searchTerm"
      name="searchTerm"
      required
    />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!searchForm.form.valid"
  >
    Search
  </button>
</form>
