<form (ngSubmit)="onSubmit()" #searchForm="ngForm" class="form-container">
  <mat-form-field appearance="fill">
    <mat-label>URL to Search For</mat-label>
    <input matInput [(ngModel)]="searchParams.url" name="url" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Search Term</mat-label>
    <input
      matInput
      [(ngModel)]="searchParams.searchTerm"
      name="searchTerm"
      required
    />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!searchForm.form.valid"
  >
    Search
  </button>
</form>

<mat-accordion class="results-container" *ngIf="results?.length">
  <mat-expansion-panel *ngFor="let result of results">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ result.searchEngineName }} - Ranking:
        {{ result.rank > 0 ? result.rank : "Below 100" }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Original Query: {{ result.query }}</p>
    <p>
      URL:
      <a href="{{ result.url }}" target="_blank">{{ result.url }}</a>
    </p>
  </mat-expansion-panel>
</mat-accordion>
